src/main/mule/demo-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c1d02225-105f-4f1b-81bf-a7957b7ae90f" basePath="/mule4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="eec2bc60-d4ed-4df1-b3af-b429d2e719f5" >
		<http:request-connection host="httpbin.org" port="80" />
	</http:request-config>
	
<!-- 	https://forums.mulesoft.com/questions/92885/extract-value-from-nested-json-object-mule-4.html -->
	<flow name="demo-configFlow" doc:id="fd5344c8-f531-4dd0-b938-ff0be6b8a88f" doc:description="This flow was created to test answer for https://forums.mulesoft.com/questions/92885/extract-value-from-nested-json-object-mule-4.html question.">
		<http:listener doc:name="Listener" doc:id="a21130a2-7879-41a1-81eb-55d6328b43bf" config-ref="HTTP_Listener_config" path="/json"/>
		<http:request method="GET" doc:name="Request" doc:id="e37b0fd8-00cb-4908-820f-fec74a915d52" config-ref="HTTP_Request_configuration" path="/get" outputMimeType="application/json" requestStreamingMode="AUTO">
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="31d67a57-3ee8-4b4b-8a79-12ae192d6b5a" message="#['Header is: ' ++ payload.headers.Host]" />
		<ee:transform doc:name="Transform Message" doc:id="0829b4ab-5e43-4af5-a24e-56befb809439" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	hosts: payload.headers.Host
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
